.container {
  overflow: auto;
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y proximity;
}

.lrr {
  scroll-snap-align: start end;
  text-align: center;
  font-size: 50 px;
  overflow-wrap: anywhere;
  max-width: 100vw;
  min-height: 100vh;
}

.dark-theme{
    color: white;
    background: #4b4b4c;
}

.random1-theme{
    color: white;
    background: #ff00a2;
    }



.banner-area{
    background: url("https://live.staticflickr.com/1929/31484513368_43029f48f0_k.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    vertical-align: center;
    color: white;
  }

  #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #11ffee00; }
