.banner-area{
    background: url('./images/c.jpg') no-repeat center center fixed;
    background-size: cover;

    text-align: center;
    vertical-align: middle;
    color: white;

}
.banner-area-headline{
    font-size: 4.0rem;
}

.content-box{
    text-align: center;

}


.section{
    padding-top: 20%;
    padding-bottom: 20%;
}

.headings{

    margin-bottom: 40px;
    text-align: center;
    color:rgb(42, 119, 60);
}

.intro-text{
    padding-top: 150px;
    padding-bottom: 100px;
}


@media (min-width: 768px){
.intro-text{
    padding-top: 300px;
    padding-bottom: 200px;

    }
}

body{
    position: relative;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color:green;
}

/* _________________________________Resume__________________________________________ */


.dark-theme{
    color: white;
    background: #4b4b4c;
}


.sub-section{
    padding-bottom: 40px;
    padding-top: 40px;
}

.opacity1 div img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.opacity1 div:hover img {
	opacity: .5;
}
