.banner-area{
    background: url('./images/c.jpg') no-repeat center center fixed;
    background-size: cover;

    text-align: center;
    vertical-align: middle;
    color: white;

}
.banner-area-headline{
    font-size: 4.0rem;
}

.content-box{
    text-align: center;

}



.section{
    padding-top: 20%;
    padding-bottom: 20%;
}

.headings{

    margin-bottom: 40px;
    text-align: center;
    color:rgb(42, 119, 60);
}

.intro-text{
    padding-top: 150px;
    padding-bottom: 100px;
}


@media (min-width: 768px){
.intro-text{
    padding-top: 300px;
    padding-bottom: 200px;

    }
}

body{
    position: relative;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color:green;
}

/* _________________________________Resume__________________________________________ */




.dark-theme{
    color: white;
    background: #4b4b4c;
}


.sub-section{
    padding-bottom: 40px;
    padding-top: 40px;
}


/* PhotoSwipe */

.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}


a#cRetour{
  border-radius:3px;
  padding:10px;
  font-size:15px;
  text-align:center;
  color:#fff;
  background:rgba(0, 0, 0, 0.25);
  position:fixed;
  right:20px;
  opacity:1;
  z-index:99999;
  transition:all ease-in 0.2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
a#cRetour:before{ content: "\25b2"; }
a#cRetour:hover{
  background:rgba(0, 0, 0, 1);
  transition:all ease-in 0.2s;
}
a#cRetour.cInvisible{
  bottom:-35px;
  opacity:0;
  transition:all ease-in 0.5s;
}

a#cRetour.cVisible{
  bottom:20px;
  opacity:1;
}




/* ---- reset ---- */ body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #4b4b4c; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }
